<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meow PDF 🐾</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navbar">🐾 Meow PDF</div>
  
    <div class="container">
      <h1>Upload Your PDF</h1>
      <form method="POST" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">
          📄 Choose PDF File
        </label>
        <input id="file-upload" type="file" name="pdf" required>
        
        <button type="submit">Generate QnA</button>
      </form>
      
    </div>
  </body>
  
</html>
